<div class="container-fluid py-4" style="background-color: #f8bcd0; min-height: 100vh;">

  <h2 class="text-center mb-4">Recetas uniandes</h2>

  <div class="row justify-content-center">

    @for(recipe of recipes; track recipe.id) {
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
        <div class="card shadow-sm" style="width: 18rem;">

          <img 
            [src]="recipe.imagen" 
            class="card-img-top"
            style="height: 180px; object-fit: cover;"
          />
          
          <div class="card-body">
            <h5 class="card-title">{{ recipe.nombre }}</h5>

            <ul>
              @for(tag of recipe.etiquetas; track tag) {
                <li>{{ tag }}</li>
              }
            </ul>

            <p><strong>Porciones:</strong> {{ recipe.porciones }}</p>

            <button class="btn btn-primary"
              (click)="onSelect(recipe)">
              Ver la receta
            </button>
          </div>
        </div>
      </div>
    }
  </div>
</div>
